<div id="login">
<form name="login" action="index_submit" method="get" accept-charset="utf-8">
    <li>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
    </li>
    <li>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </li>
        <div id="lower">
    <input type="checkbox"><label for="checkbox">Keep me logged in</label>
    <input type="submit" value="Login">
        </div><!--/ lower-->
</form>
</div>
